<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag('shared/top-nav') %>
<% end %>

<nav class="flex-between top-nav">
  <%= render('shared/buttons/back', url: url_to || get_started_path) %>

  <h2><%= title %></h2>
  <button type="submit" form="devise_user"><%= action %></button>
</nav>
