<li>
  <div>
    <%= image_tag(category.icon || '') %>
    <div>
      <%= link_to(category.name, category_entities_path(category)) %>
      <div>
        <span>
          By <strong><%= current_user.name %></strong>
        </span>
        <span>
          Total Transactions Amount: <em>$<%= category.amount %></em>
        </span>
      </div>
    </div>
  </div>
</li>
